API_BASE_URL=https://api.onspring.com
SANDBOX_API_KEY=your-sandbox-api-key

TEST_APP_ID=1
TEST_APP_ID_NO_ACCESS=2
TEST_APP_IDS=1,2,3
TEST_APP_IDS_NO_ACCESS=4,5,6

TEST_SURVEY_ID=1
TEST_SURVEY_RECORD_ID=1
TEST_SURVEY_AUTO_NUMBER_FIELD=1

TEST_FIELD_ID=1
TEST_FIELD_ID_NO_ACCESS=2
TEST_FIELD_IDS=1,2,3
TEST_FIELD_IDS_NO_ACCESS=4,5,6
TEST_TEXT_FIELD=1

TEST_RECORD=1
TEST_ATTACHMENT_FIELD=1
TEST_ATTACHMENT_FIELD_NO_ACCESS_FIELD=2
TEST_ATTACHMENT_FIELD_NO_ACCESS_APP=3
TEST_ATTACHMENT=1
TEST_IMAGE_FIELD=1
TEST_IMAGE=1

TEST_LIST_FIELD=1
TEST_LIST_FIELD_NO_ACCESS=2
TEST_LIST_ID=1
TEST_LIST_ID_NO_ACCESS=2
TEST_LIST_ITEM_ID_NO_ACCESS=some-guid

TEST_REPORT=1
TEST_REPORT_NO_ACCESS=2
TEST_REPORT_WITH_CHART_DATA=3
